.timeline {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: $white;
        left: 50%;
        margin-left: -3px;
    }

    &__container {
        padding: 10px 40px;
        position: relative;
        width: 50%;

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background: $white;
            top: 12px;
            right: -12px;
            border-radius: 50%;
            border: 4px solid $lightOrange;
        }
    }
}

.item {
    background: $white;
    padding: 1.25rem 1.75rem;
    border-radius: 10px;

    &__title {
        margin: 0;
    }
}

.left {
    left: 0;

    &::before { 
        content: '';
        height: 10px;
        width: 10px;
        position: absolute;
        top: 22px;
        right: 30px;
        border: 10px solid $white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $white;
    }
}

.right {
    left: 50%;

    &::before { 
        content: '';
        height: 10px;
        width: 10px;
        position: absolute;
        top: 22px;
        left: 30px;
        border: 10px solid $white;
        border-width: 10px 10px 10px 0px;
        border-color: transparent $white transparent;
    }

    &::after {
        left: -12px;
    }
}